include README.md
include LICENSE
include requirements.txt
include CHANGELOG.md
recursive-include docs *
recursive-include examples *
recursive-include frontend/src/ui *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .git*

